## Integrantes

1. Sebastian Guerraty
2. María José Jiménez
3. Gabriela Alfaro

# Instrucciones

El laboratorio tiene 6 ptos, donde obtener 6 ptos equivale a un 7.0 y 0 ptos un 1.0. 

El formato de entrega será subir a u-cursos un Jupyter notebook
laboratorio1.ipynb, que se debe ejecutar sin errores desde la primera celda a la última. Todo el código debe estar en el mismo notebook, el código debe estar comentado y testeado, el notebook debe estar escrito en forma de informe técnico, escribiendo una celda markdown antes o después de cada celda de código que arroja algún output.

## 1. Teórico, 2 ptos 

1.1 ¿En qué consisten las transformaciones Box-Cox, Z-Score y
Max-Min? Describa al menos 2 ventajas y desventajas de cada una de
estas transformaciones en una tabla comparativa. **(0.5 ptos)**

1.2 ¿Es estrictamente necesario realizar una transformación de los
atributos en un proceso de minería de datos? ¿En qué casos
podría no ser necesario? De al menos un ejemplo. **(0.5 ptos)**

1.3 Suponga que está analizando una encuesta con datos socioeconómicos (similar al Censo), y descubre que la variable **sueldo** tiene un 60% de datos perdidos. A qué tipo de dato perdido cree que corresponde: ¿MCAR, MAR, NMAR? Justique su elección ¿Qué haría con esta variable suponiendo que su objetivo es predecir nivel de estudios de una persona (enseñanza básica, media, universitaria, etc)? Explique. **(1.0 pto)**


## 2. Aplicación, 4 ptos

---
Considere el problema que enfrenta una entidad financiera que tiene altas tasas de fuga voluntaria. Esta institución no tiene claro cuál es el perfil característico que tienen los clientes fugitivos ni cuáles son las razones por las cuales estos se fugan.

El gerente general le ha pedido **definir el patrón característico de los clientes fugitivos y de los clientes no fugitivos con el objetivo de definir una serie de políticas comerciales** que permitan retener a estos potenciales clientes fugitivos.

**Tareas:**

2.1 Resuelva los problemas de inconsistencia y valores pérdidos en la base de datos, justificando cada una de sus decisiones. Impute al menos una variable utilizando regresión lineal con el resto de columnas como regresores. 
**Nota**: no deben quedar valores perdidos. **(1.5 ptos)**


2.2 Aplique 2 métodos de transformación sobre 2 variables distintas, grafique la distribución antes y después. Comente si las transformaciones tienen sentido y cuál sería su utilidad **(1.0 pto)**


2.3 Aplique las técnicas de selección que considere pertinentes y elimine de la base aquellos atributos que no son relevantes según sus criterios, elimine al menos 2 **(1.0 pto)**


2.4 Comente respecto a patrones encontrados entre clientes fugitivos y no fugitivos. Apóyese en gráficos y test estadísticos. **(0.5 ptos)**


---
Variable | Descripción
------------- | -------------
1. customer | ID
2. Age | Edad
3. Employ | Años en el mismo empleo
4. Address | Años viviendo en el mismo lugar
5. Income | Ingreso en USD
6. Debtinc | Ratio Ingreso/Deuda
7. Creddebt | Monto de deuda en tarjetas de crédito
8. OthDebt | Monto de otras deudas
9. Education | Nivel educacional
10. Nationality | Nacionalidad
11. Default | Variable objetivo

In [0]:
import pandas as pd

In [0]:
url = "https://raw.githubusercontent.com/Camiloez/lab3-dataset/master/data_lab.csv"
df = pd.read_csv(url)

In [0]:
df.head(5)

   customer   Age  Employ  Address  ...  OthDebt  Education  Nationality  Default
0     10012  28.0       7      2.0  ...     4.80        Med            N        N
1     10017  64.0      34     17.0  ...    12.00       Posg            N        N
2     10030  40.0      20     12.0  ...     1.89        Bas            N        N
3     10039  30.0      11      3.0  ...     7.56        Bas            N        N
4     10069  25.0       2      2.0  ...     5.96        Bas            N        S

[5 rows x 11 columns]

In [0]:
df.describe()

            customer          Age  ...     Creddebt      OthDebt
count    1200.000000  1199.000000  ...  1200.000000  1200.000000
mean   221336.065833    35.962469  ...     2.002500     4.024317
std    132024.173652    57.447467  ...     2.949625     5.619132
min     10012.000000    18.000000  ...     0.010000     0.010000
25%     89926.000000    24.000000  ...     0.437500     1.137500
50%    269681.500000    31.000000  ...     1.050000     2.325000
75%    343749.000000    42.000000  ...     2.340000     4.742500
max    372571.000000  1970.000000  ...    35.970000    63.470000

[8 rows x 8 columns]

In [0]:
df.dtypes

customer         int64
Age            float64
Employ           int64
Address        float64
Income         float64
Debtinc        float64
Creddebt       float64
OthDebt        float64
Education       object
Nationality     object
Default         object
dtype: object

In [0]:
df.isna().any(axis = 0)

customer       False
Age             True
Employ         False
Address         True
Income          True
Debtinc         True
Creddebt       False
OthDebt        False
Education       True
Nationality    False
Default        False
dtype: bool