## Integrantes

1. 
2. 
3. 
4.

# Instrucciones

El laboratorio tiene 6 ptos, donde obtener 6 ptos equivale a un 7.0 y 0 ptos un 1.0. 

El formato de entrega será subir a u-cursos un Jupyter notebook
laboratorio4.ipynb, que se debe ejecutar sin errores desde la primera celda a la última. Todo el código debe estar en el mismo notebook, el código debe estar comentado y testeado, el notebook debe estar escrito en forma de informe técnico, escribiendo una celda markdown antes o después de cada celda de código que arroja algún output.

# Laboratorio 4: Clustering

Objetivos:



1.  Entender en qué casos se puede utilizar clustering y cuál es su fin
2.  Conocer y aplicar modelos de clustering
3.  Conocer y aplicar métricas relacionadas a clustering
4. Entender diferencia entre clustering y aprendizaje no supervisado

# Investigación (2 ptos)

Elija 4 de 5 preguntas (`0.5 ptos c/u`)



1. Explique un caso en que pueda fallar K-Means y mencione una forma de solucionarlo.
2. ¿Es PCA un método de clustering? Justifique.
3. Investigue las siguientes métricas: *purity, silhouette score.* Describa ventajas y desventajas.
4. ¿En qué consiste el algoritmo Gaussian Mixture Models (GMM)? Comente su relación con K-Means.
5. Explique como hallaría el número "óptimo" de clusters en un problema de clustering.

# Práctica (4 ptos)


Considere el problema que enfrenta una empresa del retail que desea segmentar a sus clientes con el fin de entender mejor su comportamiento y así poder realizar ofertas específicas para cada grupo. 

Para lo anterior cuenta con los siguientes datos:


1.   Edad, género, educación, lugar dónde vive, teléfono, etc,
2.   Si es miembro o no del club de puntos, gastos realizados en un año, y una métrica otorgada (spending score) por el departamento de marketing que indica qué tan buenos gastadores son, donde 100 corresponde a lo más alto y 0 a lo más bajo. 

**Notas:**

1.   No posee registro de los gastos de quienes no pertenecen al club de puntos, sin embargo según lo indicado por el departamento de marketing es una variable muy importante.
2.   A priori debería existir una correlación entre en el spending score y los gastos de una persona, aunque no necesariamente es así, por lo que se recomienda estudiar esta relación.

**Tareas:**


1.   Realice un análisis exploratorio de los datos (cantidad de registros, medias, medianas, missing values, etc) y muestre al menos 2 gráficos de variables que considere relevantes para el análisis. (`0.5 ptos`)
2.   Cree una base de datos consistente (limpieza de NAs, transformaciones, imputaciones) y deje claramente expresadas las  * features* que utilizará para el clustering (al menos 3). Justifique las variables elegidas/creadas apoyándose en visualizaciones del punto 1.  (`0.5 ptos`)
3.    Utilice K-Means y con la ayuda del método del codo, encuentre el número "adecuado" de clusters, comente si lo encontrado por los métodos hace sentido y justifique su elección. Comente además respecto al tamaño de cada cluster y los centroides. (`1.5 ptos`)

`Nota:Se recomienda utilizar PCA y gráfico de radar con el fin de visualizar los clusters y sus centroides.`

4. Utilice Clustering Jerárquico con al menos 2 linkage distintos al mostrado en clases y visualice sus respectivos dendogramas. Compare la cantidad de clusters encontrados con K-Means. ¿Se encuentra la misma cantidad? En caso de existir diferencias explique por qué cree que se dan. (`1.5 ptos`)

# Importar Librerías

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.cluster import KMeans
import os

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/Camiloez/Labs-Data-Mining/master/data.csv')

In [3]:
df.head(5)

,CustomerID,State,Area Code,Address,Phone,Age,Genre,Education,Annual Income (k$),Expenses,Spending Score (1-100),Club Member
0,1,KS,415,2.0,382-4657,19,Male,2.0,15,-,39,no
1,2,OH,415,17.0,371-7191,21,Male,3.0,15,-,81,no
2,3,NJ,415,12.0,358-1921,20,Female,1.0,16,-,6,no
3,4,OH,408,3.0,375-9999,23,Female,1.0,16,299.4,77,yes
4,5,OK,415,2.0,330-6626,31,Female,1.0,17,166.7,40,yes

In [4]:
df.describe()

,CustomerID,Area Code,Address,Age,Education,Annual Income (k$),Spending Score (1-100)
count,200.000000,200.000000,199.000000,200.000000,121.000000,200.000000,200.000000
mean,100.500000,432.940000,6.356784,38.850000,1.727273,60.560000,50.200000
std,57.879185,40.548084,5.808244,13.969007,0.605530,26.264721,25.823522
min,1.000000,408.000000,0.000000,18.000000,1.000000,15.000000,1.000000
25%,50.750000,408.000000,2.000000,28.750000,1.000000,41.500000,34.750000
50%,100.500000,415.000000,5.000000,36.000000,2.000000,61.500000,50.000000
75%,150.250000,415.000000,9.000000,49.000000,2.000000,78.000000,73.000000
max,200.000000,510.000000,26.000000,70.000000,3.000000,137.000000,99.000000